@model Biblioteca.Models.Autor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Autor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento):
        </dt>
        <dd class="col-sm-10">
            @Html.TextBoxFor(model => model.DataNascimento, "{0:d MMM yyyy}", new {@disable="true"})
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.AutorID">Editar</a>
    <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
</div>

